<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Developers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>

<div style="margin: auto; max-width: 600px">

    <a href="/">Powrót do listy developerów</a>

    <h2 th:text="${developer.name} + '(nazwa developera)'"></h2>

    <table class="table table-striped">
        <tr>
            <td><b>Adres url:</b></td>
            <td th:text="${developer.url}"></td>
        </tr>
        <tr>
            <td><b>Opis:</b></td>
            <td th:text="${developer.description}"></td>
            <!--LUB: <td><textarea rows="3" th:text="${developer.description}"></textarea></td>-->
        </tr>
    </table>


    <h4><u>Informacje szczegółowe:</u></h4>

    <table class="table table-striped">
        <tr>
            <td><b>Adres:</b></td>
            <td th:text="${developerInfo.address}"></td>
        </tr>
        <tr>
            <td><b>NIP:</b></td>
            <td th:text="${developerInfo.nip}"></td>
        </tr>
        <tr>
            <td><b>REGON:</b></td>
            <td th:text="${developerInfo.regon}"></td>
        </tr>
    </table><br/>


    <h2>Inwestycje:</h2>

    <ul class="list-group">
        <li class="list-group-item" th:each="investment: ${investments}">
            <a th:href="'/investment?id=' + ${investment.id}" th:text="${investment.name}"></a>
        </li>
    </ul>
    <!--LUB 4:-->
    <!--<ul class="list-group">-->
        <!--<li class="list-group-item" th:each="investment: ${developer.getInvestmentList()}">-->
            <!--<a th:href="'/investment?id=' + ${investment.id}" th:text="${investment.name}"></a>-->
        <!--</li>-->
    <!--</ul>-->

    <a th:href="'/dodajInwestycje?id=' + ${developer.id}">Dodaj inwestycję</a>


</div>
</body>
</html>